@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-image: url(/rm373batch16-52.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .image-container {
    padding: 10px;
}

.main .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .image-container .image img {
    width: 350px;
    align-items: center;
}

.main .image-container h1 {
    position: relative;
    bottom: 12vw;
    left: 60%;
    color: goldenrod;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;

}

.main .image-container p {
    position: relative;
    bottom: 12vw;
    left: 60%;
    color: gold;
    text-align: center;
    margin-bottom: 40px;
}

.main .input {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 40vw;
    height: 50px;
    border-radius: 20px;
    background: rgb(202 253 255 / 50%);
}

.main .input .talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.main .input .talk i {
    font-size: 20px;
    color: #aed0d0;
}

.main .input .content {
    position: relative;
    left: 5vw;
    top: -2.3vw;
    color: #0feaea;
    font-size: 15px;
    margin-right: 20px;

}

.conversation-container {
    color: whitesmoke;
    position: absolute;
    top: 31%;
    right: 13%;
    height: 40%;
    width: 35%;
    overflow-y: scroll;
    backdrop-filter: blur(5px);
}

.conversation-container::before {
    content: " ";
    background-color: #fff;
}

.robot {
    position: absolute;
    top: 45.5%;
    left: 26%;
    transform: translate(-50%, -50%);
    mix-blend-mode: lighten;
    border-radius: 50%;
    height: 50%;

}

.chatbox-input {
    position: absolute;
    bottom: 12%;
    left: 50%;
    width: 40vw;
    height: 50px;
    border-radius: 10px;
    background: rgba(24, 148, 176, 0.434);
    color: goldenrod;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 12px;

}

.send-btn {
    position: absolute;
    bottom: 12%;
    right: 5.8vw;
    width: 3vw;
    height: 48px;
    border-radius: 10px;
    background-color: #011128;
    box-shadow: none;
    color: goldenrod;
}